<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Climate Monitor &lt;alert@jpisystems.com&gt;">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" userName="alert@jpisystems.com" password="password321123" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>